﻿<footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix text-muted text-sm-center mb-0 px-2">
        <span style="font-size:12px" class="float-md-left d-xs-block d-md-inline-block">
            Copyright  &copy; 2018 BRAC (STH), All rights reserved.
            Developed by: <a href="" target="_blank" class="text-bold-800 grey darken-2"> </a>
        </span>
    </p>
</footer>

<!-- BEGIN VENDOR JS-->
<script src="~/Content/tm-th-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/extensions/pace.min.js" type="text/javascript"></script>



<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script src="~/Content/tm-th-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/tables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/sweetalert.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/forms/select/select2.full.min.js" type="text/javascript"></script>

<!-- END PAGE VENDOR JS-->
<!-- BEGIN ROBUST JS-->
<script src="~/Content/tm-th-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/js/core/app.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/js/core/app.min.js" type="text/javascript"></script>
<!-- END ROBUST JS-->
<!-- BEGIN PAGE LEVEL JS-->

<script src="~/Content/tm-th-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script>

<script src="~/Content/tm-th-assets/js/scripts/forms/select/select2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS-->

<script src="~/Content/tm-th-assets/vendors/js/bootstrap-duallistbox.min.js" type="text/javascript"></script>
<script src="~/Content/tm-th-assets/vendors/js/form-duallistbox.js" type="text/javascript"></script>

