﻿<!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper" style="background-color:white">

            <div style="float:left; padding-left:55px">
                <img src="~/Content/img/BRAC-logo-magenta.png" width="150px" alt="logo" style="padding-top:20px; ">
            </div>
            <div class="navbar-container content container-fluid" style="background:none;" >
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    @*<ul class="nav navbar-nav">
                    <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5">         </i></a></li>
                    <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                </ul>*@
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-user nav-item">
                            <div class="row" style="padding-top:20px">
                                <div class="col-md-12">
                                    <div class="col-lg-4" >
                                        <div class="dropdown-menu dropdown-menu-left">

                                         <a target="_blank" href="" class="dropdown-item"><i class="icon-password"></i> Change Password</a>
                                            <a href="/logout" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                                        </div>
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                            <span class="user-name" style="color:white;">@HttpContext.Current.User.Identity.Name</span>
                                            <span class="avatar avatar-online" >
                                                <img style="color:black" src="~/Content/tm-th-assets/images/portrait/small/avatar-s-1.png" alt="avatar">
                                                <i></i>
                                            </span>

                                        </a>
                                    </div>
                                    <div class="col-lg-8" style="padding-left:1px">
                                        <span>
                                            <label style="font-family:Arial;font-size:large;color:black">STH Control Project</label>
                                            <br /><label style="font-family:Arial;font-size:small;color:#DC143C">Health, Nutrition and Population Programme</label>

                                        </span>
                                    </div>
                                </div>

                            </div>
                            
                          
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
