﻿<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Inventory Managment System.">
    <meta name="keywords" content="inventory, management, the messenger">
    <meta name="author" content="The Messenger">
    <title>BRAC STH</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/tm-th-assets/images/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/tm-th-assets/images/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/tm-th-assets/images/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/tm-th-assets/images/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/tm-th-assets/images/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/Content/tm-th-assets/images/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/vendors/css/extensions/pace.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/vendors/css/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/vendors/css/forms/selects/select2.min.css">

    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/colors.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/tm-assets/css/style.css">
    <!-- END Custom CSS-->

    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/vendors/css/bootstrap-duallistbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tm-th-assets/vendors/css/dual-listbox.min.css">

   
            
</head>


<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">

    
    @RenderBody()

    


</body>
 
</html>
