﻿<!-- main menu-->
<div data-scroll-to-active="true" id="mySidenav" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" style="padding-top:30px;background-color: #4d4f53">
    <!-- / main menu header-->
    <span style="float:right;color:white ;font-size:30px;cursor: pointer;font-size: 40px;margin-right: 10px;" onclick="closeNav()"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
    <span id="open" style="font-size:30px;cursor:pointer;color:#4d4f53; margin-left: 10px;font-size: 40px;margin-top: 0px;position: absolute; " onclick="openNav()"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
    <!-- main menu content-->
    <div class="main-menu-content" style="padding-top:5px;background-color: #4d4f53">
        <ul id="main-menu-navigation" data-menu="menu-navigation" style="background-color: #4d4f53" class="navigation navigation-main">
            <li class="nav-item">
                <a href="/dashboard">
                    <i class="icon-home3"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Dashboard</span>
                   
                </a>
            </li>
            @*<li class=" nav-item">
                    <a href="/po">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">PO Management</span>
                    </a>
                </li>

                <li class=" nav-item">
                    <a href="/sk">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">SK Management</span>
                    </a>
                </li>

                <li class=" nav-item">
                    <a href="/ss">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">SS Management</span>
                    </a>
                </li>*@

            <li class="nav-item">
                <a href="/member_list">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Member Management</span>
                </a>

                <ul class="menu-content">
                    <li >
                        <a href="/member_list">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Member Info</span>
                        </a>
                    </li>
                    <li >
                        <a href="/assign_po">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Assign PO</span>
                        </a>
                    </li>

                    <li>
                        <a href="/assign_sk">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Assign Sk</span>
                        </a>
                    </li>

                    <li >
                        <a href="/assign_ss">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Assign SS</span>
                        </a>
                    </li>

                </ul>

            </li>

           
            <li class="nav-item">    
                <a href="/school_list">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">School Management</span>
                </a>
                    <ul class="menu-content">
                        <li class="nav-item">
                            <a href="/school_list">
                                <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">School List</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/school_assign">
                                <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">School Assign</span>
                            </a>
                        </li>
                    </ul>
</li>

           

            <li class="nav-item">
                <a href="/children_list">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Children Management</span>
                </a>
            </li>





            <li class="nav-item">
                <a href="/report_1">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Report (Assign Member)</span>
                </a>
            </li>

            <li class="nav-item"> <a href="/user_management"><span>User Management </span> </a> </li>

            <li class="nav-item">
                <a href=""><span>Area Management </span> </a>
                <ul class="menu-content">
                    <li >
                        <a href="/division">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Division Management</span>
                        </a>
                    </li>

                    <li >
                        <a href="/district">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">District Management</span>
                        </a>
                    </li>


                    <li >
                        <a href="/upazila">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Upazila Management</span>
                        </a>
                    </li>

                    <li >
                        <a href="/union">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Union Management</span>
                        </a>
                    </li>

                    <li >
                        <a href="/village">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Village Management</span>
                        </a>
                    </li>
                    <li >
                        <a href="/ward">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Ward Management</span>
                        </a>
                    </li>
                    <li >
                        <a href="/para">
                            <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-item">Para Management</span>
                        </a>
                    </li>



                </ul>
            </li>
            <li class="nav-item">
                <a href="/WebDewarmingReport">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Report</span>
                </a>
            </li>



            <li class="nav-item">
                <a href="/WebStaffReport">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Staff Reporting</span>
                </a>
            </li>

           


            @*<li class=" nav-item">
                    <a href="/projecttem">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Template Management</span>
                    </a>
                </li>*@

            <!-- <li class=" nav-item">
                    <a href="/temlate_default">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Default Template Selection</span>
                    </a>
                </li>

             <li class=" nav-item">
                    <a href="/contact">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Contract Management</span>
                    </a>
                </li>

             <li class=" nav-item">
                    <a href="/component">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Component Management</span>
                    </a>
                </li>

            <li class=" nav-item">
                    <a href="/team_mang">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Inspection Team List</span>
                    </a>
                </li>

            <li class=" nav-item">
                <a href="/quick_report">
                    <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Report of the day</span>
                </a>
            </li> -->
            <!-- <li class=" nav-item">
                    <a href="/report_send">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Report (Sent)</span>
                    </a>
                </li>



            <li class=" nav-item">
                    <a href="/lged_team_inspection">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Report (Inspection Team)</span>
                    </a>
                </li>

             <li class=" nav-item">
                    <a href="/email_setting">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Email Setting</span>
                    </a>
                </li>

             <li class=" nav-item">
                    <a href="/synchronize">
                        <span data-i18n="nav.form_layouts.form_layout_basic" class="menu-title">Synchronize</span>
                    </a>
                </li> -->
            <!-- <li class="" id="dashboard"> <a href="/"> <span></span> </a></li>
            <li class="" id="project"> <a href="/"> <span></span> </a></li>
             <li class="" id="projecttem"> <a href="/"><span> </span> </a> </li>
            <li class="" id="temlate_default"> <a href="/"><span></span> </a> </li>
            <li class="" id="contact"> <a href="/"><span> </span> </a> </li>

            <li class="" id="component"> <a href="/"> <span></span> </a></li>
            <li class="" id="team_mang"> <a href="/"> <span></span> </a></li>

            <li class="" id="report"> <a href="/"><span></span> </a> </li>
            <li class="" id="report_send"> <a href="/"><span></span> </a> </li>
            <li class="" id="quick_report"> <a href="/"><span></span> </a> </li>
            <li class="" id="email_setting"> <a href="/"><span> </span> </a> </li>
            <li class="" id="synchronize"> <a href="/"><span> </span> </a> </li>-->
            <!--<li> <a href="/scheme"><span>Scheme Management </span> </a> </li>-->
            <!--<li> <a href="/template_asine"><span>Template Assignment </span> </a> </li>-->


        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
<script src="~/Scripts/Menu/menu.js"></script>

<!-- / main menu-->