﻿
@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model BracProject.Models.MemberModel

<div id="main"   class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                       --> <a href="/member_list">Member Management </a> -->
                    </li>
                    <li class="breadcrumb-item">Add Member</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Add Member</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="card-text">
                                            <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                @ViewBag.Message
                                            </div>
                                        </div>
                                    }


                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true)
                                        @Html.AntiForgeryToken()

                                        <div class="form-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.type)
                                                @Html.DropDownListFor(model => model.type, new List<SelectListItem>(), "", new { @id = "m_type", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.type)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.name)
                                                @Html.TextBoxFor(model => model.name, new { placeholder = "Member Name", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.name)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.user_name)
                                                @Html.TextBoxFor(model => model.user_name, new { placeholder = "User Name", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.user_name)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.mobile_no)
                                                @Html.TextBoxFor(model => model.mobile_no, new { placeholder = "Mobile No", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.mobile_no)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.password)
                                                @Html.TextBoxFor(model => model.password, new { placeholder = "Password", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.password)
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button id="submit" type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> Save
                                            </button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/member_add_sript.js"></script>