﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")
@model BracProject.Models.MemberModel
<div id="main"  class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a> -->
                    </li>
                    <li class="breadcrumb-item">Member Management </li>
                </ol>
            </div>
            <div class="content-header-left col-md-6 col-xs-12">
                <h3 class="content-header-title mb-0">Member Management</h3>
                <br />
                <p class="text-muted mb-0"></p>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">

                    <div class="col-xs-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title">Member list</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block card-dashboard">

                                    <div class="form-group">
                                        <a class="btn btn-primary btn-min-width mr-1 mb-1 " href="/member_list/Add" role="button">Add Member</a>
                                    </div>

                                    @*<div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b>Member type</b></Label>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            @Html.DropDownListFor(model => model.type, new List<SelectListItem>(), "", new { @id = "membertype", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                           
                                        </div>
                                        </div>*@

                                        <div class="table-responsive">
                                            <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending">Type</th>
                                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Name</th>
                                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Area</th>
                                                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Mobile No</th>
                                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">Action</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/member_sript.js"></script>