﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")


<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                    <li class="breadcrumb-item">Assign List </li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Assign List</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b>Type</b></Label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <Label><b>Member Name</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Type" name="TypeID">
                                                <option value="">--Select Type--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Member" name="MemberID">
                                                <option value="">--Select Member--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <button id="submit" type="submit" name="submit" class="btn btn-info">Filter</button>
                                        </div>

                                            <div class="clearfix"></div>

                                        </div>


                                        <div class="table-responsive">
                                            <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Type </th>
                                                        <th>Member </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/ReportMemberAssign.js"></script>