﻿
@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model BracProject.Models.AssignPoModel

<div id="main"   class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li  class="breadcrumb-item">
                        <a href="/assign_po">PO Assign </a>
                    </li>
                    <li class="breadcrumb-item">Edit PO Assign</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4  class="card-title" id="from-actions-bottom-right">Edit PO Assign</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="card-text">
                                            <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                @ViewBag.Message
                                            </div>
                                        </div>
                                    }

                                    @Html.HiddenFor(model => model.div_id)
                                    @Html.HiddenFor(model => model.dis_id)

                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true)
                                        @Html.AntiForgeryToken()

                                        @Html.HiddenFor(model => model.uz_ids)
                                        @Html.HiddenFor(model => model.ui_ids)
                                        @Html.HiddenFor(model => model.vi_ids)


                                        <div class="form-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.po_id)
                                                @Html.DropDownListFor(model => model.po_id, new List<SelectListItem>(), "", new { @id = "pos", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.po_id)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.div_id)
                                                @Html.DropDownListFor(model => model.div_id, new List<SelectListItem>(), "", new { @id = "divisions", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.div_id)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.dis_id)
                                                @Html.DropDownListFor(model => model.dis_id, new List<SelectListItem>(), "", new { @id = "districts", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.dis_id)
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input active" id="rdbUnion" name="optradio"><b>Union</b>
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" id="rdbWard" name="optradio"><b>Ward</b>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" id="rdbUr" name="optradio1"><b>Urban</b>
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" id="rdbru" name="optradio1"><b>Rural</b>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label><b> Upazila</b></label>
                                                <select id="dualList1" class="dualList duallistbox-multi-selection" multiple="multiple" name="dualList1" size="15" style="display: none;"></select>
                                            </div>
                                            <div class="form-group">
                                                <label><b>Union</b></label>
                                                <select id="dualList2" class="dualList duallistbox-multi-selection" multiple="multiple" name="dualList2" size="15" style="display: none;"></select>
                                            </div>
                                            <div class="form-group">
                                                <label> <b>Village</b></label>
                                                <select id="dualList3" class="dualList duallistbox-multi-selection" multiple="multiple" name="dualList3" size="15" style="display: none;"></select>
                                            </div>

                                        </div>
                                        <div class="form-actions right">
                                            <button id="submit" type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> Update
                                            </button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/po_assign_edit_sript.js"></script>
