﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

<div id="main"  onclick="openNav()" class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
      <h1 class="page-header">Report </h1>
      <ol class="breadcrumb">
        <li><a href="dashboard">Home</a></li>
        <li class="active">Report </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h4 class="panel-title">Report </h4>
        </div>
        <div class="panel-body">

        <div class="form-group">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			        <Label><b>Division</b></Label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <Label><b>District</b></Label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <Label><b>Upazila</b></Label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <Label><b>Project</b></Label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <Label><b>Office</b></Label>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <Label><b>Designation</b></Label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Division" name="DIV_ID">
                    <option value="">--Select Division--</option>
                  </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="District" name="DIS_ID">
                <option value="">--Select District--</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Upozilla" name="UP_ID">
                <option value="">--Select Upazila--</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Project" name="PROJECT_ID">
                <option value="">--Select Project--</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Office" name="OFFICE_ID">
                <option value="">--Select Office--</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Designation" name="DESIGNATION_ID">
                <option value="">--Select Designation--</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-center">
            <button id="submit" type="submit" name="submit" class="btn btn-info">Search</button>
          </div>
        </div>
        <div class="clearfix"></div>


          <div class="table-responsive">
            <table id="userReport" class="table table-striped table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  
                  <th>User Name</th>
                  <th>Scheme Name</th>
                  <th>Date</th>
                  <th>Visit</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_report_2.js"></script>