﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
      <h1 class="page-header">Report View</h1>
      <ol class="breadcrumb">
        <li><a href="dashboard">Home</a></li>
        <li class="active">Report View  </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h4 class="panel-title">Report View </h4>
        </div>
        <div class="panel-body">

        
          @Html.Raw(ViewBag.Report)
          
        </div>
      </div>
    </div>
  </div>
</div>

@Html.Partial("_Footer")