/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.btn-group {
    margin-left: 0px;
    margin-right: -30px
}

td {
    margin-left: -15px;
    margin-right: -30px
}


.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden
}

    .cmn-toggle + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none
    }

input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 25px;
    background-color: #dddddd;
    border-radius: 100px;
    float: left;
    margin-left: 10px
}

    input.cmn-toggle-round + label:before,
    input.cmn-toggle-round + label:after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: ""
    }

    input.cmn-toggle-round + label:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 60px;
        transition: background 0.4s
    }

    input.cmn-toggle-round + label:after {
        width: 25px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s
    }

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 34px

}

.p_chart_image {
    width: 200px;
    height: 200px;
    background: url("/Storage/pie_chart.png") no-repeat;
    display: inline-block
}

    .p_chart_image:hover {
        background: url("/Storage/pie_chart_over.png") no-repeat
    }

.b_chart_01_image {
    width: 200px;
    height: 200px;
    background: url("/Storage/bar_chart_1.png") no-repeat;
    display: inline-block
}

    .b_chart_01_image:hover {
        background: url("/Storage/bar_chart_1_over.png") no-repeat
    }

.b_chart_02_image {
    width: 200px;
    height: 200px;
    background: url("/Storage/bar_chart_2.png") no-repeat;
    display: inline-block
}

    .b_chart_02_image:hover {
        background: url("/Storage/bar_chart_2_over.png") no-repeat
    }

.p_chart_image_hover {
    background: url("/Storage/pie_chart_over.png") no-repeat
}

.b_chart_01_image_hover {
    background: url("/Storage/bar_chart_1_over.png") no-repeat
}

.b_chart_02_image_hover {
    background: url("/Storage/bar_chart_2_over.png") no-repeat

}

/*====Rijon====*/
.chld-src label.checkbox-inline span {
    font-size: 13px;
    margin-top: -1px;
    position: absolute;
    margin-left:2px;
}
/*====Rijon====*/