﻿

@Html.Partial("_Header")
@Html.Partial("_MainMenu")
<div id="main"   class="app-content content container-fluid">
    <div class="content-wrapper">
       
        <div class="row">
            <span style="font-size:larger"><b>Deworming Report</b></span>
            <div class="col-md-12" style="padding-top:50px;padding-bottom:50px;border:double">

                <div class="col-md-6">

                    <button id="btnTotalDewarming" type="submit" class="btn btn-primary">
                        Print Pdf
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="btnTotalDewarmingExcel" type="submit" class="btn btn-success">
                        Export Excel
                    </button>
                </div>


            </div>
        </div>
        <div class="row">
            <span style="font-size:larger"><b>Not Deworming Report</b></span>
            <div class="col-md-12" style="padding-top:50px;padding-bottom:50px;border:double">

                <div class="col-md-6">

                    <button id="btnNotDewarmingPDF" type="submit" class="btn btn-primary">
                        Print Pdf
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="btnNotDewarmingExcel" type="submit" class="btn btn-success">
                        Export Excel
                    </button>
                </div>


            </div>
        </div>


        <div class="row">
            <span style="font-size:larger"><b>School Going Children Report</b></span>
            <div class="col-md-12" style="padding-top:50px;padding-bottom:50px;border:double">

                <div class="col-md-6">

                    <button id="btnTotalSchoolPDF" type="submit" class="btn btn-primary">
                        Print Pdf
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="btnTotalSchoolExcel" type="submit" class="btn btn-success">
                        Export Excel
                    </button>
                </div>


            </div>
        </div>
        <div class="row">
            <span style="font-size:larger"><b>Total out of school children</b></span>
            <div class="col-md-12" style="padding-top:50px;padding-bottom:50px;border:double">

                <div class="col-md-6">

                    <button id="btnNotSchoolPDF" type="submit" class="btn btn-primary">
                        Print Pdf
                    </button>
                </div>
                <div class="col-md-6">
                    <button id="btnNotSchoolgExcel" type="submit" class="btn btn-success">
                        Export Excel
                    </button>
                </div>


            </div>
        </div>


        
        </div>
</div>





@Html.Partial("_Footer")

<script type="text/javascript" src="~/Scripts/Report/Report.js"></script>
