﻿@{
    Layout = null;
}
@model BracProject.Models.LoginModel

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="TAREQ">
    <title>Login - STH</title>
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/tm-th-assets/images/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/tm-th-assets/images/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/tm-th-assets/images/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/tm-th-assets/images/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="/Content/tm-th-assets/images/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="/Content/tm-th-assets/images/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/css/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/vendors/css/extensions/pace.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/tm-th--assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/css/colors.css">
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="/Content/tm-th-assets/css/pages/login-register.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/Content/tm-assets/css/style.css">
    <!-- END Custom CSS-->
</head>
<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column  blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header no-border">
                                <div class="card-title text-xs-center">
                                    <div class="p-1"><img src="/Content/tm-th-assets/images/logo/robust-logo-light.png" alt="branding logo"></div>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="card-text">
                                            <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                @ViewBag.Message
                                            </div>
                                        </div>
                                    }
                                    @using (Html.BeginForm("Index", "WebLogin", FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(true)
                                        @Html.AntiForgeryToken()
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            @Html.TextBoxFor(model => model.user_name, new { placeholder = "User Name", @class = "form-control form-control-lg input-lg" })
                                            <div class="form-control-position">
                                                <i class="icon-head"></i>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.user_name)
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            @Html.PasswordFor(model => model.password, new { placeholder = "Password", @class = "form-control form-control-lg input-lg" })
                                            <div class="form-control-position">
                                                <i class="icon-key3"></i>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.password)
                                        </fieldset>
                                        <fieldset class="form-group row"></fieldset>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Login</button>
                                    }
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="">
                                    <p style="font-size:11px" class="float-sm-right text-xs-center m-0">Copyright  &copy; 2018 BRAC (STH)  <br /> Developed by: <a href="" class="card-link"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="/Content/tm-th-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/vendors/js/extensions/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="/Content/tm-th-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="/Content/tm-th-assets/js/core/app.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
</body>
</html>

