﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang='en'>

<head>
    <meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <title>LGED's Team Inspection</title>

    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div class='container-fluid'>
        <div class='container'>
            <div class='row'>
                <div class="col-xs-12 text-center">
                    <h1>পরিদর্শন  @ViewBag.TeamName এর পরিদর্শন প্রতিবেদন</h1>
                </div>
            </div>
            <br/>
            <div class='row'>
                <div class="col-xs-12">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th class="text-center">টিম নং</th>
                                <th class="text-center">পরিদর্শন টিমের আহবায়ক এর নাম ও প্রকল্পের নাম</th>
                                <th class="text-center">এলাকা (জেলা/উপজেলা)</th>
                                <th class="text-center">পরিদর্শন সংখ্যা (বার)</th>
                                <th class="text-center">পরিদর্শন দিবস (দিন)</th>
                                <th class="text-center">পরিদর্শনকৃত স্কিম সংখ্যা</th>
                                <th class="text-center">মোট ত্রুটিপূর্ণ স্কিমের সংখ্যা</th>
                                <th class="text-center">ত্রুটি সংশোধিত</th>
                                <th class="text-center">সংশোধন প্রক্রিয়াধীন</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">@ViewBag.TeamID</td>
                                <td>@Html.Raw(ViewBag.MemberList)</td>
                                <td></td>
                                <td class="text-center">@ViewBag.Inspection_Count</td>
                                <td class="text-center">@ViewBag.Inspection_Day_Count</td>
                                <td class="text-center">@ViewBag.SchemeCount</td>
                                <td class="text-center">@ViewBag.DefectSchemeCount</td>
                                <td class="text-center">@ViewBag.DefectSchemeSolvedCount</td>
                                <td class="text-center">@ViewBag.DefectSchemeCount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/><br/>
            <div class='row'>
                <div class='col-xs-12'>
                    @Html.Raw(ViewBag.DefectSchemeList)
                </div>
            </div>
        </div>
    </div>
</body>

</html>