﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">LGED Team Inspection </li>
                </ol>
            </div>
            <div class="content-header-left col-md-6 col-xs-12">
                <p class="text-muted mb-0"></p>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">

                    <div class="col-xs-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title">LGED Team Inspection List</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block card-dashboard">

                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>Division</b></Label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>District</b></Label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>Upazila</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Division" name="DIV_ID">
                                                <option value="">--Select Division--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="District" name="DIS_ID">
                                                <option value="">--Select District--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Upozilla" name="UP_ID">
                                                <option value="">--Select Upazila--</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>Project</b></Label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>Package Number</b></Label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>Scheme</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Project" name="PROJECT_ID">
                                                <option value="">--Select Project--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Contact" name="CONTACT_ID">
                                                <option value="">--Select Package--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Scheme" name="SCHEME_ID">
                                                <option value="">--Select Scheme--</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-12 text-xs-center">
                                            <button id="submit" type="submit" name="submit" class="btn btn-info">Search</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>Team Name</b></Label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>From</b></Label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <Label><b>To</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Team" name="TEAM_ID">
                                                <option value="">--Select Team--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input type="date" id="from_date" class="form-control" name="from_date" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input type="date" id="to_date" class="form-control" name="to_date" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-12 text-xs-center">
                                            <button id="pdf_download" type="submit" name="pdf_download" class="btn btn-info">Download PDF</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="table-responsive">
                                        <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">Package #</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Scheme Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Team Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Inspection Type</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Defect Identify</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Number of Defect</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/lged_team_insp_list_sript.js"></script>
