﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.FormListDefaultModel
<style>
.btn-group {
    margin-left: 0px;
    margin-right: -30px
}
</style>

<div id="main"  class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/temlate_default">Default Tamplet</a></li>
                    <li class="breadcrumb-item"><a>Edit Template </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Edit Template</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                  @Html.HiddenFor(model => model.COMPONENT_ID)
                                  @Html.HiddenFor(model => model.PROJECT_ID)
                                    
                                  @using (Html.BeginForm()) 
                                  {
                                    @Html.ValidationSummary(true)

                                    <fieldset>
                                      @Html.AntiForgeryToken()
                                      @if (ViewBag.Message != null)
                                      {
                                          <div style="border:solid 1px green">
                                              @ViewBag.Message
                                          </div>
                                        
                                      }

                                      <div class="form-group">
                                        <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Component*</label>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                          @Html.DropDownListFor(model => model.COMPONENT_ID, new List<SelectListItem>(), "--Select--", new { @id="Component", @class="form-control select2" })
                                          @Html.ValidationMessageFor(model => model.COMPONENT_ID)
                                        </div>
                                            <div class="clearfix">&nbsp;</div>
                                      </div>

                                      <div class="form-group">
                                          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Type*</label>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                              @Html.DropDownListFor(model => model.TYPE,                
                                                new List<SelectListItem> { 
                                                    new SelectListItem { Value = "0" , Text = "Generic" },
                                                    new SelectListItem { Value = "1" , Text = "Project" }
                                                    },
                                                new { @class="form-control"})
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                      </div>

                                      <div class="form-group" id="project_list_">
                                        <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Project</label>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                          @Html.DropDownListFor(model => model.PROJECT_ID, new List<SelectListItem>(), "--Select--", new { @id="Project", @class="form-control select2" })
                                          @Html.ValidationMessageFor(model => model.PROJECT_ID)
                                        </div>
                                            <div class="clearfix">&nbsp;</div>
                                      </div>

                                      @Html.HiddenFor(model => model.TEMPLATE_IDS)
                                                  
                                      <div class="form-group">
                                          <div class="col-xs-12">
                                              <select id="dualList" class="dualList duallistbox-multi-selection" multiple="multiple" name="dualList" size="20" style="display: none;">
                                                  
                                              </select>
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                      </div>
                                                  
                                      <div class="form-group">
                                          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
                                          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                              <input id="submit" type="submit" class="btn btn-success pull-right" value="Save Template">
                                          </div>
                                      </div>
                                      <div class="clearfix">&nbsp;</div>

                                  </fieldset>
                                  }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script src="~/Scripts/web_edit_default_template.js"></script>