﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")


<div id="main"   class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item">Default Template</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Default Template</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block card-dashboard">
                                  <div style="col-xs-12 text-right">
                                        <a href="temlate_default/Add"><button class="btn btn-primary" style="float:right; margin-bottom:20px;">Add Template</button></a>
                                        <div class="clearfix"></div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <Label><b>Project</b></Label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <Label><b>Component</b></Label>
                                    </div>
                                    @*<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                      <Label><b>From</b></Label>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                      <Label><b>To</b></Label>
                                    </div>*@
                                    <div class="clearfix"></div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                      <select class="form-control select2" data-val="true" id="Project" name="PROJECT_ID">
                                        <option value="">--Select Project--</option>
                                      </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                      <select class="form-control select2" data-val="true" id="Component" name="COMPONENT_ID">
                                        <option value="">--Select Component--</option>
                                      </select>
                                    </div>
                                    @*<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <input placeholder = "Date" class="form-control datecontrol" id="from_date" type="text">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                        <input placeholder = "Date" class="form-control datecontrol" id="to_date" type="text">
                                    </div>*@
                                    <div class="clearfix"></div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-xs-6 text-xs-center">
                                      <button id="submit" type="submit" name="submit" class="btn btn-info">Filter</button>
                                    </div>
                                        <div class="clearfix"></div>
                                  </div>
                                  <div class="clearfix"></div>

                                  <div class="table-responsive">
                                    <table id="list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                      <thead>
                                        <tr role="row">
                                          <th>Project Name</th>
                                          <th>Component</th>
                                          <th>Type</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                    </table>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_default_template.js"></script>