﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.EmailSettingModel



<div id="main"  onclick="openNav()" class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index">Home</a></li>
                    <li class="breadcrumb-item"><a href="/email_setting">Email Setting</a></li>
                    <li class="breadcrumb-item"><a>Email Setting </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: 820px;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Email Setting</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    
                                    @using (Html.BeginForm()) 
                                    {
                                    @Html.ValidationSummary(true)

                                    <fieldset>
                                        @Html.AntiForgeryToken()
                                        @if (ViewBag.Message != null)
                                        {
                                            <div style="border:solid 1px green">
                                                @ViewBag.Message
                                            </div>
                                        
                                        }
                                        
                                        @Html.HiddenFor(model => model.ID)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EMAIL, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.EMAIL, new { placeholder = "Email Address", @class= "form-control" })
                                                @Html.ValidationMessageFor(model => model.EMAIL)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PASSWORD, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.PASSWORD, new { placeholder = "Password", @class= "form-control" })
                                                @Html.ValidationMessageFor(model => model.PASSWORD)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SMTP, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.SMTP, new { placeholder = "smtp address", @class= "form-control" })
                                                @Html.ValidationMessageFor(model => model.SMTP)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SMTP_PORT, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.SMTP_PORT, new { placeholder = "smtp port", @class= "form-control" })
                                                @Html.ValidationMessageFor(model => model.SMTP_PORT)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                                    
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <input type="submit" class="btn btn-success pull-right" value="Update Setting">
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>

                                    </fieldset>
                                    }

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")