﻿
@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.TeamListModel

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/team_mang/Option/@ViewBag.TeamID">Team List </a>
                    </li>
                    <li class="breadcrumb-item">Add Team Member</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Add Team Member</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                @if (ViewBag.Message != null)
                                {
                                    <div class="card-text">
                                        <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            @ViewBag.Message
                                        </div>
                                    </div>
                                }
                                    

                                    @using (Html.BeginForm()) 
                                    {
                                        @Html.ValidationSummary(true)
                                        @Html.AntiForgeryToken()

                                        @Html.HiddenFor(model => model.TEAM_ID, new { @Value=ViewBag.TeamID })

                                        <div class="form-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NAME)
                                                @Html.TextBoxFor(model => model.NAME, new { placeholder = "Name", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.NAME)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DESIGNATION)
                                                @Html.TextBoxFor(model => model.DESIGNATION, new { placeholder = "Designation", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.DESIGNATION)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OFFICE_NAME)
                                                @Html.TextBoxFor(model => model.OFFICE_NAME, new { placeholder = "Office Name", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.OFFICE_NAME)
                                            </div>
                                            <div class="form-group">
                                                <label>@Html.RadioButtonFor(model=> model.CONVENOR , "1") Convenor </label>
                                                <label>@Html.RadioButtonFor(model=> model.CONVENOR , "2") Member </label>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SSO_LOGIN_ID)
                                                @Html.TextBoxFor(model => model.SSO_LOGIN_ID, new { placeholder = "SSO Login Id", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.SSO_LOGIN_ID)
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button id="submit" type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> Save
                                            </button>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_add_member_script.js"></script>