﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="~/Scripts/pie-doughnut/vertical-menu.css" rel="stylesheet" />
<link href="~/Scripts/pie-doughnut/vertical-overlay-menu.css" rel="stylesheet" />
<link href="~/Scripts/style.css" rel="stylesheet" />



<div id="main" class="app-content content container-fluid">

    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                @*<ol class="breadcrumb">
                        <li onclick="openNav()" class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    </ol>*@
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: 2000px;">
                            <div class="card-header">
                                <h4 onclick="openNav()" class="card-title" id="from-actions-bottom-right">Dashboard</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="row">
                                    <div class="col-xl-3 col-lg-6 col-xs-12" style="height:inherit">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="p-2 text-xs-center  bg-darken-2 media-left media-middle" style="background-color:#E8C90D;">
                                                        <i class="icon-user1 font-large-2 white"></i>
                                                    </div>
                                                    <div class="p-2  white media-body" style="background-color:#E8C90D;">
                                                        <h5>Total<br /> Children</h5>
                                                        <h5 class="text-bold-400"><span id="lblTotalChildren" class="label label-default"></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-xs-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="p-2 text-xs-center  bg-darken-2 media-left media-middle" style="background-color:#0DB3E8;">
                                                        <i class="icon-user1 font-large-2 white"></i>
                                                    </div>
                                                    <div class="p-2  white media-body" style="background-color:#0DB3E8;">
                                                        <h5>School Going <br /> children </h5>
                                                        <h5 class="text-bold-400"><span id="lblSchoolGoingChildren" class="label label-default"></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-xs-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="p-1 text-xs-center  bg-darken-2 media-left media-middle" style="background-color:#E8900D;">
                                                        <i class="icon-user1 font-large-2 white"></i>
                                                    </div>
                                                    <div class="p-2  white media-body" style="background-color:#E8900D;">
                                                        <h5>Total out of <br />school children </h5>
                                                        <h5 class="text-bold-400"><span id="lblOutOfSchoolGoingChildren" class="label label-default"></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-xs-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="p-1 text-xs-center bg-darken-2 media-left media-middle" style="background-color:#A8055C;">
                                                        <i class="icon-user1 font-large-2 white"></i>
                                                    </div>
                                                    <div class="p-2  white media-body" style="background-color:#A8055C;">
                                                        <h5> Total<br /> deworming</h5>
                                                        <h5 class="text-bold-400"><span id="lblTotalDeworming" class="label label-default"></span> </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xl-8 col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Working Status</h4>
                                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                <div class="heading-elements">
                                                    <ul class="list-inline mb-0">
                                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <p class="m-0">Total Progress<span class="float-xs-right"><a href="#" target="_blank">Project Summary <i class="icon-arrow-right2"></i></a></span></p>
                                                </div>
                                                <div class="table-responsive">
                                                    <table class="table table-hover mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Total</th>
                                                                @*<th>Priority</th>*@
                                                                @*<th>Progress</th>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-truncate">Total Household</td>
                                                                @*<td class="text-truncate">
                                                                        <span class="avatar avatar-xs"></span> <span>1400</span>
                                                                    </td>*@
                                                                <td class="text-truncate"><span class="tag tag-success"><span id="lblTotalhousehold" class="label label-default"></span></span></td>
                                                                @*<td class="valign-middle">
                                                                        <progress value="88" max="100" class="progress progress-xs progress-success m-0">88%</progress>
                                                                    </td>*@
                                                            </tr>
                                                            <tr>
                                                                <td class="text-truncate">Visiting Complete</td>
                                                                @*<td class="text-truncate">
                                                                    <td class="text-truncate"><span class="tag tag-success">1400</span></td>*@

                                                                <td class="text-truncate"><span class="tag tag-success">0</span></td>
                                                                @*<td class="valign-middle">
                                                                        <progress value="55" max="100" class="progress progress-xs progress-warning m-0">55%</progress>
                                                                    </td>*@
                                                            </tr>

                                                            <tr>
                                                                <td class="text-truncate">Total registered child</td>
                                                                @*<td class="text-truncate">
                                                                        <span class="avatar avatar-xs"><img src="../../app-assets/images/portrait/small/avatar-s-8.png" alt="avatar"></span> <span>Susan S.</span>
                                                                    </td>*@
                                                                <td class="text-truncate"><span class="tag tag-success" id="chtotal"></span></td>
                                                                @*<td class="valign-middle">
                                                                        <progress value="45" max="100" class="progress progress-xs progress-warning m-0">45%</progress>
                                                                    </td>*@
                                                            </tr>
                                                            <tr>
                                                                <td class="text-truncate">Monthly Target</td>
                                                                @*<td class="text-truncate">
                                                                        <span class="avatar avatar-xs"><img src="../../app-assets/images/portrait/small/avatar-s-9.png" alt="avatar"></span> <span>Walter K.</span>
                                                                    </td>*@
                                                                <td class="text-truncate"><span class="tag tag-success"><span id="lblmonthlyTarget" class="label label-default"></span></span></td>
                                                                @*<td class="valign-middle">
                                                                        <progress value="15" max="100" class="progress progress-xs progress-danger m-0">15%</progress>
                                                                    </td>*@
                                                            </tr>
                                                            <tr>
                                                                <td class="text-truncate">Monthly Target Due</td>
                                                                @*<td class="text-truncate">
                                                                        <span class="avatar avatar-xs"><img src="../../app-assets/images/portrait/small/avatar-s-5.png" alt="avatar"></span> <span>Edward C.</span>
                                                                    </td>*@
                                                                <td class="text-truncate"><span class="tag tag-success" id="lblmonthlyTargetDue" class="label label-default"></span></td>
                                                                @*<td class="valign-middle">
                                                                        <progress value="55" max="100" class="progress progress-xs progress-warning m-0">55%</progress>
                                                                    </td>*@
                                                            </tr>
                                                            <tr>
                                                                <td class="text-truncate">New child</td>

                                                                <td class="text-truncate"><span class="tag tag-danger"><span id="lblnewchild" class="label label-default"></span></span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-truncate">Migrated child</td>

                                                                <td class="text-truncate"><span class="tag tag-danger"><span id="lblmiagratedchild" class="label label-default"></span></span></td>

                                                            </tr>
                                                            <tr>
                                                                <td class="text-truncate">Total Graduated children</td>

                                                                <td class="text-truncate"><span class="tag tag-danger"><span id="lblgraduatechild" class="label label-default"></span></span></td>

                                                            </tr>
                                                            <tr>

                                                                <td class="text-truncate">Lost to follow up</td>

                                                                <td class="text-truncate"><span class="tag tag-danger"><span id="lbllostfollowupchild" class="label label-default"></span></span></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xl-4 col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="p-0 text-xs-center bg-darken-2 media-left media-middle" style="background-color:#7C09AB;">
                                                        <i class="icon-user1 font-large-2 white"></i>
                                                    </div>
                                                    <div class="p-2  white media-body" style="background-color:#7C09AB;">
                                                        <h5> Total Boys</h5>
                                                        <h5 class="text-bold-400"><span id="lblBoys" class="label label-default"></span> </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="media">
                                                    <div class="p-0 text-xs-center  bg-darken-2 media-left media-middle" style="background-color:#E8C90D;">
                                                        <i class="icon-user1 font-large-2 white"></i>
                                                    </div>
                                                    <div class="p-2 white media-body" style="background-color:#E8C90D;">
                                                        <h5> Total Girls</h5>
                                                        <h5 class="text-bold-400"><span id="lblGirls" class="label label-default"></span> </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card " style="background-color:#A8055C;">
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="media" style="color:white">
                                                        <div class="media-body  text-xs-left">
                                                            <h3><span id="lblTotalNotDeworming" class="label label-default"></span></h3>
                                                            <span>Not Deworming</span>
                                                        </div>
                                                        <div class="media-right media-middle">
                                                            <i class="icon-user1 white font-large-2 float-xs-right"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card " style="background-color:#7C09AB;">
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="media" style="color:white">
                                                        <div class="media-left media-middle">
                                                            <i class="icon-user1 white font-large-2 float-xs-left"></i>
                                                        </div>
                                                        <div class="media-body white text-xs-right">
                                                            <h3><span id="lblDewormingSchoolChildren" class="label label-default"></span></h3>
                                                            <span>Deworming school children</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card " style="background-color:#05717D;">
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="media" style="color:white">
                                                        <div class="media-body white text-xs-left">
                                                            <h3><span id="lblTotalNotDewormingSchoolChildren" class="label label-default"></span></h3>
                                                            <span>Deworming out of School Children</span>
                                                        </div>
                                                        <div class="media-right media-middle">
                                                            <i class="icon-user1 white font-large-2 float-xs-left"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row" class="bg-success">
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Round Information</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Number of School Children Covered</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Coverage (%)</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Number of Out School<br /> Children Covered</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">Coverage (%)</th>
                                        </tr>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">April 2018</th>
                                            @*<th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lblapril2018" class="label label-default"></span></th>*@
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span class="label label-default">4152</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">7.44</th>
                                            @*<th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lblapril2018outofchildren" class="label label-default"></span></th>*@
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span class="label label-default">8009</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">74.14</th>
                                        </tr>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">October 2018</th>
                                            @*<th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lbloctober2018" class="label label-default"></span></th>*@
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="" class="label label-default">51382</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">99.13</th>
                                            @*<th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lbloctober2018outofchildren" class="label label-default"></span></th>*@
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="" class="label label-default">8824</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">82.31</th>
                                        </tr>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">April 2019</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="" class="label label-default">52841</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">97.57</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="" class="label label-default">9829</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">81</th>
                                        </tr>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">October 2019</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lblapril2019" class="label label-default">0</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">0</th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lblapril2019outofchildren" class="label label-default">0</span></th>
                                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">0</th>
                                        </tr>

                                        @*<tr role="row">
            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">October 2019</th>
            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lbloctober2019" class="label label-default"></span></th>
            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"></th>
            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;"><span id="lbloctober2019outofchildren" class="label label-default"></span></th>
            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px"></th>
        </tr>*@
                                    </thead>
                                </table>


                                <section id="chartjs-pie-charts">
                                    <div class="row">
                                        <!-- Simple Pie Chart -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Deworming Chart 1</h4>
                                                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">
                                                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body collapse in">
                                                    <div class="card-block">
                                                        <input id="lblTotalChildDeworming" type="hidden" />
                                                        <input id="lblTotalChildNotDeworming" type="hidden" />
                                                        <div id="simple-pie-chart" height="400"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Simple Pie Chart -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Deworming Chart 2 </h4>
                                                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">
                                                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body collapse in">
                                                    <div class="card-block ">
                                                        <input id="lblDewormingSchoolGoing" type="hidden" value="0" />
                                                        <input id="lblDewormingOutofSchool" type="hidden" value="0" />
                                                        <input id="lblNotDewormingSchoolGoing" type="hidden" value="0" />
                                                        <input id="lblNotDewormingOutOfSchool" type="hidden" value="8700" />
                                                        <div id="simplechart1" height="600"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </section>


                                <section id="chartjs-pie-charts">
                                    <div class="row">
                                        <!-- Simple Doughnut Chart -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Deworming Chart 3</h4>
                                                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">
                                                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body collapse in">
                                                    <div class="card-block">
                                                        <input id="lblSchoolGoing" type="hidden" value="10250" />
                                                        <input id="lblOutofSchool" type="hidden" value="18555" />

                                                        <div id="simple-doughnut-chart" height="400"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <!-- Simple Doughnut Chart -->
                                        <div class="col-md-6 col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title"> Deworming Chart 4</h4>
                                                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">
                                                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-body collapse in">
                                                    <div class="card-block">
                                                        <input id="lblSchoolGoingGirl" type="hidden" value="10250" />
                                                        <input id="lblOutofSchoolGirl" type="hidden" value="18555" />
                                                        <input id="lblSchoolGoingBoy" type="hidden" value="11000" />
                                                        <input id="lblOutOfSchoolBoy" type="hidden" value="8700" />
                                                        <div id="simple-doughnut-chart_1" height="400"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </section>





                                <section id="chartjs-bar-charts">
                                    <!-- Column Stacked Chart -->
                                    <!-- Column Chart -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">Deworming Coverage</h4>
                                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">
                                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-content collapse in">
                                                    <div class="height-400">
                                                        <canvas id="column-chart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Bar Stacked Chart -->
                                    <!--New Bar Chart end


    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Deworming Coverage</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <canvas id="column-stacked" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
        -->
                                </section>

                                @*<div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">3D Pie Chart</h4>
                                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                <div class="heading-elements">
                                                    <ul class="list-inline mb-0">
                                                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div id="pie-3d"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>*@


                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="~/Scripts/pie-doughnut/3d_pie.js"></script>
<script src="~/Scripts/Dashboard_Script.js"></script>
@*<script src="~/Scripts/pie-doughnut/pie-simple.js"></script>
    <script src="~/Scripts/pie-doughnut/doughnut-simple.js"></script>*@
<script src="~/Scripts/pie-doughnut/bar-stacked.js"></script>
<script src="~/Scripts/bar/column.js"></script>
<script src="~/Scripts/bar/column-stacked.js"></script>
<script type="text/javascript" src="~/Scripts/grap_total_visit.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
