﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

<div id="main"   class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 style="margin-top:0; padding-top:0;">Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 1</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-blue">
                        <div class="stats-icon"><i class="fa fa-paint-brush"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 2</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-red">
                        <div class="stats-icon"><i class="fa fa-cogs"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 3</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-purple">
                        <div class="stats-icon"><i class="fa fa-users"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 4</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 5</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-blue">
                        <div class="stats-icon"><i class="fa fa-paint-brush"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 6</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-red">
                        <div class="stats-icon"><i class="fa fa-cogs"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 7</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-purple">
                        <div class="stats-icon"><i class="fa fa-users"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 8</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 9</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-blue">
                        <div class="stats-icon"><i class="fa fa-paint-brush"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 10</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 11</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget widget-stats bg-blue">
                        <div class="stats-icon"><i class="fa fa-paint-brush"></i></div>
                        <div class="stats-info">
                            <p style="border-bottom:1px solid #fff; padding-bottom:5px; margin-bottom:5px;">Module 12</p>
                            <span> Project In Pipeline: 25<br>
                                Pending Project: 07<br>
                                Submitted: 04<br>
                                Quotation Submitted: 04 <br>
                                Contract Under Process: 02 </span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")