﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.ContactModel

<div id="main"   class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/contact">Contract Management</a></li>
                    <li class="breadcrumb-item"><a>Edit Contract </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Edit Contract</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    @Html.HiddenFor(model => model.DIV_ID)
                                    @Html.HiddenFor(model => model.DIS_ID)
                                    @Html.HiddenFor(model => model.UP_ID)
                                    @Html.HiddenFor(model => model.PROJECT_ID)
                                    @Html.HiddenFor(model => model.FINANCIAL_YEAR)
                                    
                                    @using (Html.BeginForm()) 
                                    {
                                    @Html.ValidationSummary(true)

                                    <fieldset>
                                        @Html.AntiForgeryToken()
                                        @if (ViewBag.Message != null)
                                        {
                                            <div style="border:solid 1px green">
                                                @ViewBag.Message
                                            </div>
                                        
                                        }
                                        @Html.HiddenFor(model => model.ID)
                                        <input data-val="true" id="USER_ID" name="USER_ID" value="8" type="hidden">

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Project*</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DropDownListFor(model => model.PROJECT_ID, new List<SelectListItem>(), "--Select--", new { @id="Project", @class="form-control select2" })
                                                @Html.ValidationMessageFor(model => model.PROJECT_ID)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                                    
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Division*</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DropDownListFor(model => model.DIV_ID, new List<SelectListItem>(), "--Select--", new { @id="Division", @class="form-control select2" })
                                                @Html.ValidationMessageFor(model => model.DIV_ID)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>District*</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DropDownListFor(model => model.DIS_ID, new List<SelectListItem>(), "--Select--", new { @id="District", @class="form-control select2" })
                                                @Html.ValidationMessageFor(model => model.DIS_ID)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Upozilla</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DropDownListFor(model => model.UP_ID, new List<SelectListItem>(), "--Select--", new { @id="Upozilla", @class="form-control select2" })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Financial Year</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DropDownListFor(model => model.FINANCIAL_YEAR, new List<SelectListItem>(), "--Select--", new { @id="financial_years", @class="form-control select2" })
                                                @Html.ValidationMessageFor(model => model.FINANCIAL_YEAR)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.CONTACT_NAME)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.CONTACT_NAME, new { placeholder = "Package Number", @class= "form-control" })
                                                @Html.ValidationMessageFor(model => model.CONTACT_NAME)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <!--<div class="form-group">
                                            @Html.LabelFor(model => model.PACKAGE_NUMBER, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.PACKAGE_NUMBER, new { placeholder = "Package Number", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PACKAGE_NUMBER, "" , new { @class = "text-danger " })
                                            </div>
                                        </div>-->

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.CONTACT_SIGN_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.CONTACT_SIGN_DATE, new { placeholder = "Contract Sign Date", @class = "form-control datecontrol" })
                                                @Html.ValidationMessageFor(model => model.CONTACT_SIGN_DATE, "" , new { @class = "text-danger " })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.PG_EXPIRE_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.PG_EXPIRE_DATE , new { placeholder = "PG Expire Date", @class = "form-control datecontrol" })
                                                @Html.ValidationMessageFor(model => model.PG_EXPIRE_DATE, "" , new { @class = "text-danger " })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.ORIGINAL_COMMENCE_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.ORIGINAL_COMMENCE_DATE, new { placeholder = "Original Commence Date", @class = "form-control datecontrol" })
                                                @Html.ValidationMessageFor(model => model.ORIGINAL_COMMENCE_DATE, "" , new { @class = "text-danger " })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.ORIGINAL_COMPLETION_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.ORIGINAL_COMPLETION_DATE, new { placeholder = "Original Completion Date", @class = "form-control datecontrol" })
                                                @Html.ValidationMessageFor(model => model.ORIGINAL_COMPLETION_DATE, "" , new { @class = "text-danger " })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.REVISED_COMPLETION_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.REVISED_COMPLETION_DATE, new { placeholder = "Revised Completion Date", @class = "form-control datecontrol" })
                                                @Html.ValidationMessageFor(model => model.REVISED_COMPLETION_DATE, "" , new { @class = "text-danger " })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.ACTUAL_COMMENCE_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.TextBoxFor(model => model.ACTUAL_COMMENCE_DATE, new { placeholder = "Actual Commence Date", @class = "form-control datecontrol" })
                                                @Html.ValidationMessageFor(model => model.ACTUAL_COMMENCE_DATE, "" , new { @class = "text-danger " })
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                                    
                                    



                                    <!-- <div class="form-group">
                                            @Html.LabelFor(model => model.CONTACT_CODE, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.CONTACT_CODE, new { placeholder = "Contract Code", @class= "form-control" })
                                                @Html.ValidationMessageFor(model => model.CONTACT_CODE)
                                            </div>
                                        </div>

                                    

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CONTACT_TITLE, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.CONTACT_TITLE, new { placeholder = "Contract Title", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CONTACT_TITLE, "" , new { @class = "text-danger " })
                                            </div>
                                        </div>-->

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <input type="submit" class="btn btn-success pull-right" value="Save Contract">
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>

                                    </fieldset>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_editcontact.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script> 
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>