﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@{
    @*var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var view = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var url = "fims/WebContact/";*@
}

<div id="main"   class="app-content content container-fluid">



    @*@if (SSO.GetCurrenctUser().Permissions.ContainsKey(url + "Insert"))
    {
        <h1>done</h1>
    }*@



    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item">Contract Management</li>
                    <li class="breadcrumb-item"></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Contract Management</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    <div style="col-xs-12 text-xs-right">

                                        <a href="contact/Add"><button class="btn btn-primary" style="float:right; margin-bottom:20px;">Add Contract</button></a>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b>Division</b></Label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <Label><b>District</b></Label>
                                        </div>
                                        @*<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <Label><b>Upazila</b></Label>
                                        </div>*@
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b>Project</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Division" name="DIV_ID">
                                                <option value="">--Select Division--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="District" name="DIS_ID">
                                                <option value="">--Select District--</option>
                                            </select>
                                        </div>
                                        @*<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Upozilla" name="UP_ID">
                                                <option value="">--Select Upazila--</option>
                                            </select>
                                        </div>*@
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="Project" name="PROJECT_ID">
                                                <option value="">--Select Project--</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>

                                    @*<div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <Label><b>From</b></Label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <Label><b>To</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>*@

                                    @*<div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input placeholder="Date" class="form-control" id="from_date" type="date">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <input placeholder="Date" class="form-control" id="to_date" type="date">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>*@

                                    <div class="form-group">
                                        <div class="col-xs-10 text-xs-center">
                                            <button id="submit" type="submit" name="submit" class="btn btn-info">Filter</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="table-responsive">
                                        <table id="contactlist" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Project</th>
                                                    <th>Division</th>
                                                    <th>District</th>
                                                    <th>Package ID</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_contact.js"></script>