﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

<div id="main"   class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header">Contract Management </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/contact">Contract Management</a></li>
        <li class="active"><a>Add Contract </a></li>
      </ol>
    </div>
  </div>
  <div class="panel">
  <div class="panel-body">

  <div class="row">
    <div class="clearfix">&nbsp;</div>

    @using (Html.BeginForm("UploadExcel", "WebContact", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))  
    {  
      @Html.ValidationSummary(true)

      <fieldset>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
           
        }

        <div class="form-group">  
  
            <div class="control-label col-md-2">Excel:</div>  
            <div class="col-md-10">  
                <input type="file" id="UploadedFile" name="UploadedFile" class="" />  
            </div>  
        </div>  

        <div class="form-group">
            <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <input type="submit" class="btn btn-success pull-right" value="Upload">
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>

    </fieldset>
    }

  </div>
</div>
</div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_addcontact.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script> 
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>