﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.ContactModel

<div id="main"  class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/contact">Contract Management</a></li>
                    <li class="breadcrumb-item"><a>View Contract </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">View Product</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Project</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @ViewBag.Project_Name
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                                    
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Division</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @ViewBag.Div_Name
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>District</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @ViewBag.Dis_Name
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Upozilla</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @ViewBag.Upz_Name
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                <label>Financial Year</label>
                                            </div>
                                            <div class="col-xs-3">
                                                @ViewBag.Fianacial_Name
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.CONTACT_NAME)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.CONTACT_NAME)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <!--<div class="form-group">
                                            @Html.LabelFor(model => model.PACKAGE_NUMBER, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                @Html.TextBoxFor(model => model.PACKAGE_NUMBER, new { placeholder = "Package Number", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.PACKAGE_NUMBER, "" , new { @class = "text-danger " })
                                            </div>
                                        </div>-->

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.CONTACT_SIGN_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.CONTACT_SIGN_DATE)  
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.PG_EXPIRE_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.PG_EXPIRE_DATE) 
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.ORIGINAL_COMMENCE_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.ORIGINAL_COMMENCE_DATE)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.ORIGINAL_COMPLETION_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.ORIGINAL_COMPLETION_DATE)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.REVISED_COMPLETION_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.REVISED_COMPLETION_DATE)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-3">
                                                @Html.LabelFor(model => model.ACTUAL_COMMENCE_DATE)
                                            </div>
                                            <div class="col-xs-3">
                                                @Html.DisplayFor(model => model.ACTUAL_COMMENCE_DATE)
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")