﻿
@Html.Partial("_Header")
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/tm_form_build.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/form-builder.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.rateyo.min.css">
@Html.Partial("_MainMenu")

@model BracProject.Models.InsFormModel


<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/projecttem">Template Management </a></li>
                    <li class="breadcrumb-item">Add Template </li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Add Template</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block card-dashboard">
                                  <div class="clearfix">&nbsp;</div>

                                  <div style="col-xs-12">
                                      <div class="render-wrap"></div>
                                      <div class="build-wrap"></div>

                                      <button type="button" id="edit-form" class="btn btn-primary edit-form">Edit Form</button>
                                      <span id="copy-html" class="pull-right">
                                          <a href="/projecttem/save" id="copy-html" class="btn btn-primary copy-html">
                                          <i class="fa fa-x fa-plus"></i> Save </a>
                                      </span>
                                  </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")

<script src="~/Scripts/formBuilder/vendor.js"></script>
<script src="~/Scripts/formBuilder/form-builder.min.js"></script>
<script src="~/Scripts/formBuilder/form-render.min.js"></script>
<script src="~/Scripts/formBuilder/jquery.rateyo.min.js"></script>
<script src="~/Scripts/formBuilder/demo.js"></script>

<script>
    $(document).ready(function() {
        $(".icon-autocomplete").hide();
        $(".icon-file").hide();
        $(".icon-hidden").hide();
        $('[data-type="starRating"]').hide();
        $('[data-type="user-details"]').hide();
        $('[data-type="user--agreement"]').hide();
        $(".btn-success").hide();
        $(".get-data").hide();
        $('[data-type="button"]').hide();

        $('.icon-textarea').click(function() {
            $('[label="tinymce"]').hide();
            $('[label="quill"]').hide();
        });
    });
</script> 