﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.InsFormModel

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/projecttem">Template Management</a></li>
                    <li class="breadcrumb-item"><a>Edit Template </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: 820px;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Edit Template</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                  @Html.HiddenFor(model => model.COMPONENT_ID)
                                  @Html.HiddenFor(model => model.PROJECT_ID)

                                  @using (Html.BeginForm()) 
                                  {
                                    @Html.ValidationSummary(true)

                                    <fieldset>
                                      @Html.AntiForgeryToken()
                                      @if (ViewBag.Message != null)
                                      {
                                          <div style="border:solid 1px green">
                                              @ViewBag.Message
                                          </div>
                                      }

                                      <div class="form-group">
                                        <div class="col-xs-2">
                                            <label class="control-label">Component*</label>
                                        </div>
                                        <div class="col-xs-3">
                                          @Html.DropDownListFor(model => model.COMPONENT_ID, new List<SelectListItem>(), "--Select--", new { @id="Component", @class="form-control select2 select2-hidden-accessible", @style="width:100%;", @single="", @tabindex="-1"})
                                          @Html.ValidationMessageFor(model => model.COMPONENT_ID)
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-xs-2">
                                            @Html.LabelFor(model => model.NAME_ORG, new { @class= "control-label" })
                                          </div>
                                          <div class="col-xs-3">
                                              @Html.TextBoxFor(model => model.NAME_ORG, new { placeholder = "Template Name", @class= "form-control" })
                                              @Html.ValidationMessageFor(model => model.NAME_ORG)
                                          </div>
                                          <div class="clearfix"></div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-xs-2">
                                            <label class="control-label">Type*</label>
                                          </div>
                                            <div class="col-xs-3">
                                              @Html.DropDownListFor(model => model.IS_GENERIC,                
                                                new List<SelectListItem> { 
                                                    new SelectListItem { Value = "1" , Text = "Generic" },
                                                    new SelectListItem { Value = "0" , Text = "Project" }
                                                    },
                                                new { @class="form-control"})
                                            </div>
                                            <div class="clearfix"></div>
                                      </div>

                                      <div class="form-group" id="project_list_">
                                        <div class="col-xs-2">
                                            <label class="control-label">Project</label>
                                        </div>
                                        <div class="col-xs-3">
                                          @Html.DropDownListFor(model => model.PROJECT_ID, new List<SelectListItem>(), "--Select--", new { @id="Project", @class="form-control select2 select2-hidden-accessible", @style="width:100%;", @single="", @tabindex="-1" })
                                          @Html.ValidationMessageFor(model => model.PROJECT_ID)
                                        </div>
                                            <div class="clearfix"></div>
                                      </div>
                                        
                                      <div class="form-group">
                                          <label class="control-label col-xs-12"></label>
                                          <div class="col-xs-12">
                                              <input type="submit" class="btn btn-success pull-right" value="Save Template">
                                          </div>
                                      </div>
                                      <div class="clearfix">&nbsp;</div>

                                  </fieldset>
                                  }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>


@Html.Partial("_Footer")
<script src="~/Scripts/web_editprojecttem.js"></script>