﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item">Template Management
                    </li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Template Management</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block card-dashboard">
                                  <div style="col-xs-12 text-right">
                                        <a href="/projecttem/Add"><button class="btn btn-primary" style="float:right; margin-bottom:20px;">Add Template</button></a>
                                        <div class="clearfix"></div>
			                        </div>

                                        <div class="clearfix"></div>
                                                                    
                                  <div class="table-responsive">
                                    <table id="list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                      <thead>
                                        <tr role="row">
                                          <th>Type</th>
                                          <th>Template Name</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                    </table>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_projecttem.js"></script>