﻿
@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model TMERP.Models.LoginModel

<div id="main"   class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/user_management">User Management </a>
                    </li>
                    <li class="breadcrumb-item">Edit User</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" style="height: 600px;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Edit User</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                @if (ViewBag.Message != null)
                                {
                                    <div class="card-text">
                                        <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            @ViewBag.Message
                                        </div>
                                    </div>
                                }
                                    

                                    @using (Html.BeginForm()) 
                                    {
                                        @Html.ValidationSummary(true)
                                        @Html.AntiForgeryToken()

                                        <div class="form-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.name)
                                                @Html.TextBoxFor(model => model.name, new { placeholder = "Full Name", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.name)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.username)
                                                @Html.TextBoxFor(model => model.username, new { placeholder = "User Name", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.username)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.email)
                                                @Html.TextBoxFor(model => model.email, new { placeholder = "Email", @class= "form-control border-primary" })

                                            </div>
                                        <div class="form-group">
                                                @Html.LabelFor(model => model.password)
                                                @Html.TextBoxFor(model => model.password, new { placeholder = "Password", @class= "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.password)
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <button id="submit" type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> Save
                                            </button>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")