﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model BracProject.Models.LoginModel

<div id="main"  onclick="openNav()" class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/user_management">User Management</a> </li>
                    <li class="breadcrumb-item">User Roles </li>
                </ol>
            </div>
            <div class="content-header-left col-md-6 col-xs-12">
                <h3 class="content-header-title mb-0">User Roles</h3>
                <p class="text-muted mb-0">You can control your user parmission</p>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">

                    <div class="col-xs-12">
                        <div class="card" style="height: 1544px;">
                            <div class="card-header">
                                <h4 class="card-title">Roles</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block card-dashboard">

                                    @Html.HiddenFor(model => model.id)
                                    <div style='margin:10px'>
                                        <label style="font-weight: bold" for="name">Name: </label>
                                        @Html.DisplayFor(model => model.name)
                                        <label style="font-weight: bold" for="name">User Name: </label>
                                        @Html.DisplayFor(model => model.user_name)
                                    </div>
                                    <div class="table-responsive">
                                        <table id="userRoalList" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">Module Name</th>
                                                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 350px;">Permission</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/user_roles.js"></script>