﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.SchemeModel
<style>
.btn-group {
    margin-left: 0px;
    margin-right: -30px
}
</style>

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/contact">Contract Management</a></li>
                    <li class="breadcrumb-item"><a href="/scheme/schemelist/@Session["contract_id"].ToString()">Scheme Management</a></li>
                    <li class="breadcrumb-item"><a>Add Scheme </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: 1320px;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Add Scheme</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    @using (Html.BeginForm()) 
                                    {
                                      @Html.ValidationSummary(true)

                                      <fieldset>
                                        @Html.AntiForgeryToken()
                                        @if (ViewBag.Message != null)
                                        {
                                            <div style="border:solid 1px green">
                                                @ViewBag.Message
                                            </div>
                                          
                                        }
                                                    
                                        @Html.HiddenFor(model => model.TEMPLATE_IDS)

                                          <div class="form-group">
                                          <div class="col-xs-3">
                                            <label>Upozilla</label>
                                          </div>
                                          <div class="col-xs-3">
                                            @Html.DropDownListFor(model => model.UP_ID, new List<SelectListItem>(), "--Select--", new { @id="Upozilla", @class="form-control select2" })
                                            @Html.ValidationMessageFor(model => model.UP_ID)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>

                                          <div class="form-group">
                                          <div class="col-xs-3">
                                            <label>Paurashava</label>
                                          </div>
                                          <div class="col-xs-3">
                                            @Html.DropDownListFor(model => model.PAURASHAVA_ID, new List<SelectListItem>(), "--Select--", new { @id="Paurashava", @class="form-control select2" })
                                            @Html.ValidationMessageFor(model => model.PAURASHAVA_ID)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>
                                          
                                        <div class="form-group">
                                          <div class="col-xs-3">
                                            <label>Component*</label>
                                          </div>
                                          <div class="col-xs-3">
                                            @Html.DropDownListFor(model => model.COMPONENT_ID, new List<SelectListItem>(), "--Select--", new { @id="Component", @class="form-control select2" })
                                            @Html.ValidationMessageFor(model => model.COMPONENT_ID)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>


                                        <div class="form-group">
                                          <div class="col-xs-3">
                                            @Html.LabelFor(model => model.SCHEME_NAME)
                                          </div>
                                          <div class="col-xs-6">
                                              @Html.TextBoxFor(model => model.SCHEME_NAME, new { placeholder = "Scheme Name", @class= "form-control" })
                                              @Html.ValidationMessageFor(model => model.SCHEME_NAME)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        

                                        
                                                    
                                        <div class="form-group">
                                          <div class="col-xs-3">
                                            @Html.LabelFor(model => model.ROAD_SCHOOL_CODE)
                                          </div>
                                          <div class="col-xs-3">
                                              @Html.TextBoxFor(model => model.ROAD_SCHOOL_CODE, new { placeholder = "Component Code", @class= "form-control" })
                                              @Html.ValidationMessageFor(model => model.ROAD_SCHOOL_CODE)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group">
                                          <div class="col-xs-3">
                                            @Html.LabelFor(model => model.QUANTITY)
                                          </div>
                                          <div class="col-xs-3">
                                              @Html.TextBoxFor(model => model.QUANTITY, new { placeholder = "Quantity", @class= "form-control" })
                                              @Html.ValidationMessageFor(model => model.QUANTITY)
                                          </div>
                                          <div class="col-xs-1">
                                            <label>Unit</label>
                                          </div>
                                          <div class="col-xs-3">
                                            @Html.DropDownListFor(model => model.UNIT, new List<SelectListItem>(), "--Select--", new { @id="Unit", @class="form-control select2" })
                                            @Html.ValidationMessageFor(model => model.UNIT)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>
                                                    
                                        <div class="form-group">
                                          <div class="col-xs-3">
                                            @Html.LabelFor(model => model.REMARK)
                                          </div>
                                          <div class="col-xs-6">
                                              @Html.TextBoxFor(model => model.REMARK, new { placeholder = "Remark", @class= "form-control" })
                                              @Html.ValidationMessageFor(model => model.REMARK)
                                          </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group">
                                            <select id="dualList" class="dualList duallistbox-multi-selection" multiple="multiple" name="dualList" size="20" style="display: none;"></select>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                <input id="submit" type="submit" class="btn btn-success pull-right" value="Submit Scheme">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>

                                    </fieldset>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>


@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_addscheme.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script> 
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>