﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span class="pull-right">
			<a href="scheme/Add" class="btn btn-sm btn-success">
			<i class="fa fa-x fa-plus"></i> Add Scheme</a></span>
      <span>
        <a href="/dashboard" class="btn btn-sm btn-dark">
        <i class="glyphicon glyphicon-triangle-left"></i> Back</a>
      </span>
      <ol class="breadcrumb">
        <li><a href="/dashboard">Home</a></li>
                <li><a href="/contact">Contract Management</a></li>
        <li class="active">Scheme Management</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h4 class="panel-title">Scheme Management</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="list" class="table table-striped table-bordered table-hover table-condensed">
              <thead>
                <tr>
             
                    <th>Upazila</th>
                    <th>Package ID</th>
                  <th>Schem Name</th>
                  <th>Componen</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_scheme.js"></script>