﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

@model lged_api.Models.SchemeModel

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <span>
        <a href="/scheme/schemelist/@Session["contract_id"].ToString()" class="btn btn-sm btn-dark">
        <i class="glyphicon glyphicon-triangle-left"></i> Back</a>
      </span>
      <ol class="breadcrumb">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/contact">Contract Management</a></li>
        <li><a href="/scheme/schemelist/@Session["contract_id"].ToString()">Scheme Management</a></li>
        <li class="active"><a>View Scheme </a></li>
      </ol>
    </div>
  </div>
  <div class="panel">

    <div class="panel-heading">
          <h4 class="panel-title" style="font-weight: bold;">View Scheme </h4>
        </div>

  <div class="panel-body">

  <div class="row">
    <div class="clearfix">&nbsp;</div>
        
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Contact Name</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            @ViewBag.Contact_Name
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Component</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            @ViewBag.Comp_Name
          </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SCHEME_CODE, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                @Html.DisplayFor(model => model.SCHEME_CODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SCHEME_NAME, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                @Html.DisplayFor(model => model.SCHEME_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SCHEME_TITLE, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                @Html.DisplayFor(model => model.SCHEME_TITLE)
        </div>

        <div class="clearfix">&nbsp;</div>

  </div>
</div>
</div>
</div>

@Html.Partial("_Footer")