﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<script type="text/javascript"></script>
<div id="main" class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                    <li class="breadcrumb-item">Staff Reporting </li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Staff Reporting</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block chld-src">
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b> SK List</b></Label>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b> From Date</b></Label>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b> To Date</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="sklist" name="skid">
                                                <option value="">--Select Sk--</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <input placeholder="From Date" class="form-control" id="from_date" type="date">
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <input placeholder="To Date" class="form-control" id="to_date" type="date">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>



                                    <div class="form-group">
                                        <div class="col-md-10 col-xs-10 text-xs-center">
                                            <button id="submit" type="submit" name="submit" class="btn btn-info">Search</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="form-group">
                                        <div id="summaryTable"></div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="table-responsive">
                                        <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>SL </th>
                                                    <th>Date </th>
                                                    <th>SS Name </th>
                                                    <th>Type </th>
                                                    <th>Update Field</th>
                                                    <th>HH No.</th>
                                                    <th>Children Name</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/staff_list_sript.js"></script>
<script src="~/Scripts/Menu/menu.js"></script>
