﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.ProjectModel

<div id="main"  onclick="openNav()" class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/project">Project Management</a></li>
                    <li class="breadcrumb-item"><a>Add Project </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: 820px;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Add Project</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    @using (Html.BeginForm()) 
                                        {
                                        @Html.ValidationSummary(true)

                                        <fieldset>
                                            @Html.AntiForgeryToken()
                                            @if (ViewBag.Message != null)
                                            {
                                                <div style="border:solid 1px green">
                                                    @ViewBag.Message
                                                </div>
                                            
                                            }

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NAME, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    @Html.TextBoxFor(model => model.NAME, new { placeholder = "Project Name", @class= "form-control" })
                                                    @Html.ValidationMessageFor(model => model.NAME)
                                                </div>
                                            <div class="clearfix">&nbsp;</div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CODE_PART1, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    @Html.TextBoxFor(model => model.CODE_PART1, new { placeholder = "Project Code", @class= "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CODE_PART1)
                                                </div>
                                            <div class="clearfix">&nbsp;</div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PROJECTTITLE, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    @Html.TextBoxFor(model => model.PROJECTTITLE, new { placeholder = "Project Title", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.PROJECTTITLE, "" , new { @class = "text-danger " })
                                                </div>
                                            <div class="clearfix">&nbsp;</div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PROJECTTITLEBANGLA, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    @Html.TextBoxFor(model => model.PROJECTTITLEBANGLA, new { placeholder = "Project Bangla Title", @class = "form-control datecontrol" })
                                                    @Html.ValidationMessageFor(model => model.PROJECTTITLEBANGLA, "" , new { @class = "text-danger " })
                                                </div>
                                            <div class="clearfix">&nbsp;</div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <input type="submit" class="btn btn-success pull-right" value="Submit Project">
                                                </div>
                                            </div>
                                            <div class="clearfix">&nbsp;</div>

                                        </fieldset>
                                        }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script> 
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>