﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<style>
    .sorting {
        background: none;
    }
</style>
<div id="main"  onclick="openNav()" class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item">Project List</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Project List</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="table-responsive">
                                      <table id="list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                          <tr role="row">
                                            <th style="padding: 1rem;" rowspan="1" colspan="1">Code</th>
                                            <th style="padding: 1rem;" class="sorting_asc" tabindex="0" rowspan="1" colspan="1">Short Name</th>
                                            <th style="padding: 1rem;" tabindex="0" rowspan="1" colspan="1">Project Title</th>
                                            <th style="padding: 1rem;" tabindex="0" rowspan="1" colspan="1">Action</th>
                                          </tr>
                                        </thead>
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_project.js"></script>