﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model lged_api.Models.ProjectModel


<div id="main"  onclick="openNav()" class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/project">Project List</a></li>
                    <li class="breadcrumb-item"><a>View Project </a></li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: 820px;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">View Project</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NAME, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            @Html.DisplayFor(model => model.NAME)
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CODE_PART1, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            @Html.DisplayFor(model => model.CODE_PART1)
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PROJECTTITLE, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            @Html.DisplayFor(model => model.PROJECTTITLE)
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PROJECTTITLEBANGLA, new { @class= "control-label col-lg-2 col-md-2 col-sm-12 col-xs-12" })
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            @Html.DisplayFor(model => model.PROJECTTITLEBANGLA)
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")