﻿.form-rendered .build-wrap {
    display: none;
}

.render-wrap {
    display: none;
}

.form-rendered .render-wrap {
    display: block;
}

#edit-form {
    display: none;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.form-rendered #edit-form {
    display: block;
}

#copy-html {
    display: none;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

.form-rendered #copy-html {
    display: block;
}