﻿
@Html.Partial("_Header")
@Html.Partial("_MainMenu")


<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#poassign" role="tab" aria-controls="pills-home" aria-selected="true">Assign PO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#skassign" role="tab" aria-controls="pills-profile" aria-selected="false">Assign SK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#ssassign" role="tab" aria-controls="pills-contact" aria-selected="false">Assign SS</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane container active" id="poassign">
                <div class="content-wrapper">
                    <div class="content-header row">
                        <div class="breadcrumb-wrapper col-xs-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/home">Home</a>
                                </li>
                                <li class="breadcrumb-item">PO Assign </li>
                            </ol>
                        </div>
                        <div class="content-header-left col-md-6 col-xs-12">
                            <h3 class="content-header-title mb-0">PO Assign</h3>
                            <br />
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <div class="content-body">
                        <!-- Form actions layout section start -->
                        <section id="form-action-layouts">
                            <div class="row match-height">
                                <div class="col-xs-12">
                                    <div class="card" style="height: auto;">
                                        <div class="card-header">
                                            <h4 class="card-title">PO list</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body collapse in">
                                            <div class="card-block card-dashboard">
                                                <div class="form-group">
                                                    <a class="btn btn-primary btn-min-width mr-1 mb-1 "  href="/assign_po/Add" role="button">Assign PO</a>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending">PO</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">Division</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">District</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Areas</th>
                                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- // Form actions layout section end -->
                    </div>
                </div>
            </div>

            <div class="tab-pane container fade" id="skassign" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="content-wrapper">
                    <div class="content-header row">
                        <div class="breadcrumb-wrapper col-xs-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/home">Home</a>
                                </li>
                                <li class="breadcrumb-item">SK Assign </li>
                            </ol>
                        </div>
                        <div class="content-header-left col-md-6 col-xs-12">
                            <h3 class="content-header-title mb-0">SK Assign</h3>
                            <br />
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <div class="content-body">
                        <!-- Form actions layout section start -->
                        <section id="form-action-layouts">
                            <div class="row match-height">
                                <div class="col-xs-12">
                                    <div class="card" style="height: auto;">
                                        <div class="card-header">
                                            <h4 class="card-title">SK list</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body collapse in">
                                            <div class="card-block card-dashboard">
                                                <div class="form-group">
                                                    <a class="btn btn-primary btn-min-width mr-1 mb-1 " href="/assign_sk/Add" role="button">Assign SK</a>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="_listSK" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending">PO</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">SK</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">Area</th>
                                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- // Form actions layout section end -->
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="ssassign" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="content-wrapper">
                    <div class="content-header row">
                        <div class="breadcrumb-wrapper col-xs-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/home">Home</a>
                                </li>
                                <li class="breadcrumb-item">SS Assign </li>
                            </ol>
                        </div>
                        <div class="content-header-left col-md-6 col-xs-12">
                            <h3 class="content-header-title mb-0">SS Assign</h3>
                            <br />
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <div class="content-body">
                        <!-- Form actions layout section start -->
                        <section id="form-action-layouts">
                            <div class="row match-height">
                                <div class="col-xs-8">
                                    <div class="card" style="height: auto;">
                                        <div class="card-header">
                                            <h4 class="card-title">SK list</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body collapse in">
                                            <div class="card-block card-dashboard">
                                                <div class="table-responsive">
                                                    <table id="_listSS" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending">SK</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">SS</th>
                                                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 70px;">Village</th>
                                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px">Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="height: 1044px;">
                                        <div class="card-header">
                                            <h4 class="card-title" id="from-actions-bottom-right">SS Assign Information</h4>
                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                            <div class="heading-elements">
                                                <ul class="list-inline mb-0">
                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body collapse in">
                                            <div class="card-block">
                                                <div style="width: 50%; margin: 0 auto;">
                                                    <a class="btn btn-primary btn-min-width mr-1 mb-1 " href="/assign_ss/Add" role="button">Assign SS</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- // Form actions layout section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/po_assign_sript.js"></script>
<script type="text/javascript" src="~/Scripts/assign_all.js"></script>