﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")


<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                    <li class="breadcrumb-item">Report (Inbox) </li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Report</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                  <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <Label><b>Division</b></Label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <Label><b>District</b></Label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <Label><b>Upazila</b></Label>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <select class="form-control select2" data-val="true" id="Division" name="DIV_ID">
                                        <option value="">--Select Division--</option>
                                      </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <select class="form-control select2" data-val="true" id="District" name="DIS_ID">
                                    <option value="">--Select District--</option>
                                      </select>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                      <select class="form-control select2" data-val="true" id="Upozilla" name="UP_ID">
                                        <option value="">--Select Upazila--</option>
                                      </select>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>

                                  

                                  <div class="form-group">
                                      <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <Label><b>Office</b></Label>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <Label><b>Designation</b></Label>
                                      </div>-->
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <Label><b>Users</b></Label>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                          <Label><b>From</b></Label>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <Label><b>To</b></Label>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>

                                  <div class="form-group">
                                      <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control select2-single" data-val="true" id="Office" name="OFFICE_ID">
                                            <option value="">--Select Office--</option>
                                        </select>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control select2-single" data-val="true" id="Designation" name="DESIGNATION_ID">
                                            <option value="">--Select Designation--</option>
                                        </select>
                                      </div>-->
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <select class="form-control select2" data-val="true" id="Users" name="USER_ID">
                                            <option value="">--Select Users--</option>
                                        </select>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input placeholder = "Date" class="form-control datecontrol" id="from_date" type="text">
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input placeholder = "Date" class="form-control datecontrol" id="to_date" type="text">
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>

                                  <!--<div class="form-group">
                                    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                                      <Label><b>From</b></Label>
                                    </div>
                                    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                                      <Label><b>To</b></Label>
                                    </div>
                                  </div>-->

      
					
                                    <div class="form-group">
                                      <div class="col-xs-12 text-xs-center">
                                        <button id="submit" type="submit" name="submit" class="btn btn-info">Search</button>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>


                                      <div class="table-responsive">
                                        <table id="schemeReport" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                          <thead>
                                            <tr role="row">
                                             
                                              <th>Received From</th>
                                              <th>Form Name</th>
                                              <th>Date</th>
                                              <th>Visit</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                        </table>
                                      </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>


@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_report_1.js"></script>