﻿


@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="form-actions right">
            <button id="btnTotalDewarming" type="submit" class="btn btn-primary">
                Print
            </button>
        </div>
    </div>
</div>

@Html.Partial("_Footer")

<script type="text/javascript" src="~/Scripts/Report/Report.js"></script>
