﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")



@model BracProject.Models.ChildrenListModel

<div id="main"  class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/children_list">Children List</a>
                    </li>
                    <li class="breadcrumb-item">Edit Children</li>
                </ol>
            </div>
        </div>


        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Edit Children </h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="card-text">
                                            <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                @ViewBag.Message
                                            </div>
                                        </div>
                                    }
                                    @Html.HiddenFor(model => model.union_id)
                                    @Html.HiddenFor(model => model.village_id)
                                    @Html.HiddenFor(model => model.gender)
                                    @Html.HiddenFor(model => model.class_id)
                                    @Html.HiddenFor(model => model.six_months_medicine)
                                    @Html.HiddenFor(model => model.is_toylet)
                                    @Html.HiddenFor(model => model.drinking_water_id)
                                    @Html.HiddenFor(model => model.status)
                                    @Html.HiddenFor(model => model.ss_id)
                                    @Html.HiddenFor(model => model.school_id)
                              

                                    @using (Html.BeginForm())
                                    {

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.id)
                                        <div class="form-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.unique_id)
                                                @Html.TextBoxFor(model => model.unique_id, new { placeholder = "Unique Id", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.unique_id)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.union_id)
                                                @Html.DropDownListFor(model => model.union_id, new List<SelectListItem>(), "", new { @id = "Union", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.union_id)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.village_id)
                                                @Html.DropDownListFor(model => model.village_id, new List<SelectListItem>(), "", new { @id = "Village", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.village_id)
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ss_id)
                                                @Html.DropDownListFor(model => model.ss_id, new List<SelectListItem>(), "", new { @id = "SSLIST", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.ss_id)
                                            </div>
                                           
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.hh)
                                                @Html.TextBoxFor(model => model.hh, new { placeholder = "House Hold", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.hh)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.child_num)
                                                @Html.TextBoxFor(model => model.child_num, new { placeholder = "Child Number", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.child_num)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.household_member)
                                                @Html.TextBoxFor(model => model.household_member, new { placeholder = "Household Member", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.household_member)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.children_name)
                                                @Html.TextBoxFor(model => model.children_name, new { placeholder = "Children Name", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.children_name)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.mother_name)
                                                @Html.TextBoxFor(model => model.mother_name, new { placeholder = "Mother Name", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.mother_name)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.father_name)
                                                @Html.TextBoxFor(model => model.father_name, new { placeholder = "Father Name", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.father_name)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.age)
                                                @Html.TextBoxFor(model => model.age, new { placeholder = "Age", @class = "form-control border-primary" })
                                                @Html.ValidationMessageFor(model => model.age)
                                            </div>

                                           
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.gender)
                                                @Html.DropDownListFor(model => model.gender, new List<SelectListItem>(), "", new { @id = "Gender", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.gender)
                                            </div>
                                           
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.school_id)
                                                @Html.DropDownListFor(model => model.school_id, new List<SelectListItem>(), "", new { @id = "School", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.school_id)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.class_id)
                                                @Html.DropDownListFor(model => model.class_id, new List<SelectListItem>(), "", new { @id = "Class", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.class_id)
                                            </div>                                          
                                           
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.six_months_medicine)
                                                @Html.DropDownListFor(model => model.six_months_medicine, new List<SelectListItem>(), "", new { @id = "Medicine", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.six_months_medicine)
                                            </div>
                                          
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.is_toylet)
                                                @Html.DropDownListFor(model => model.is_toylet, new List<SelectListItem>(), "", new { @id = "Toylet", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.is_toylet)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.drinking_water_id)
                                                @Html.DropDownListFor(model => model.drinking_water_id, new List<SelectListItem>(), "", new { @id = "DrinkingWater", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.drinking_water_id)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.children_category_status)
                                                @Html.DropDownListFor(model => model.children_category_status, new List<SelectListItem>(), "", new { @id = "ChildrenCategory", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.children_category_status)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.medicine_side_effect)
                                                @Html.DropDownListFor(model => model.medicine_side_effect, new List<SelectListItem>(), "", new { @id = "sideeffect", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.medicine_side_effect)
                                            </div>
                                           
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.status)
                                                @Html.DropDownListFor(model => model.status, new List<SelectListItem>(), "", new { @id = "Status", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                                @Html.ValidationMessageFor(model => model.status)
                                            </div>
                                        </div>

                                        <div class="form-actions right">
                                            <button id="submit" type="submit" class="btn btn-primary">
                                                <i class="icon-check2"></i> Update
                                            </button>
                                        </div>


                                    }
                                    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
            </section>
        </div>

    </div>
</div>

@Html.Partial("_Footer")

<script src="~/Scripts/children_edit_sript.js"></script>
