﻿@Html.Partial("_Header")
@Html.Partial("_MainMenu")

<script type="text/javascript">



</script>
<div id="main"  class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                    <li class="breadcrumb-item">Children List </li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Children List</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block chld-src">                                   
                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b> Children Name</b></Label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <Label><b> Father Name</b></Label>
                                        </div>

                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b> Children Age</b></Label>
                                        </div>

                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <Label><b> Gender</b></Label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <input type="text" id="children_name" value="" class= "form-control">
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <input type="text" id="father_name" value="" class= "form-control">
                                        </div>

                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <input type="text" id="age" value="" class="form-control">
                                        </div>

                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <select class="form-control select2" data-val="true" id="gender" name="gender_id">
                                                <option value="">--Select Gender--</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="form-group">
                                        
                                        <div  class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkUniqueId" class="checkbox" value=""><span> Unique Id</span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkChildrenName" class="checkbox" value=""><span> Children Name </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkFatherName" class="checkbox" value=""><span> Father Name </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkAge"class="checkbox"value=""><span> Age </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkGender" class="checkbox" value=""><span> Gender </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkSchoolGoing" class="checkbox" value=""><span> School Going </span></label>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkVillageName" class="checkbox" value=""><span> Village Name </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkUnionName" class="checkbox" value=""><span> Union Name </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkHouseHold" class="checkbox" value=""><span> Household Member </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkChildrenNumber" class="checkbox" value=""><span> Children Number </span></label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkSchoolName" class="checkbox" value=""> School Name</label>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkMedicinePlace" class="checkbox" value=""><span> Taken Medicine Place </span></label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkMotherName" class="checkbox" value=""><span> Mother Name </span></label>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        
                                        <div class="col-md-10 col-xs-10 text-xs-center">
                                            <label class="checkbox-inline"><input type="checkbox" id="chkSelectAll" value=""> Select All </label>
                                            <button id="submit" type="submit" name="submit" class="btn btn-info">Filter</button>
                                            <button id="btnExport" type="submit" name="submit" class="btn btn-info">Export Excel</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="table-responsive">
                                        <table id="_list" class="table table-striped table-bordered zero-configuration dataTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th></th>
                                                    <th id="uniqueId">Unique ID </th>
                                                    <th>Children Name </th>
                                                    <th>Father Name </th>
                                                    <th>Children age</th>
                                                    <th>Gender</th>
                                                    <th>School Going</th>
                                                    <th>Village Name</th>
                                                    <th>Union Name</th>
                                                    <th>Household member</th>
                                                    <th>Children Number</th>
                                                    <th>School Name</th>
                                                    <th>Taken medicine place</th>
                                                    <th>Mother Name</th>
                                                    <th>School Verification</th>
                                                    <th>Action</th>
                                                  
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/children_sript.js"></script>
<script src="~/Scripts/Menu/menu.js"></script>
