﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

@model lged_api.Models.TemplateAsineSaveModel

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="page-header">Template Assignment </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/template_asine">Template Assignment</a></li>
        <li class="active"><a>Add Template Assignment </a></li>
      </ol>
    </div>
  </div>
  <div class="panel">
  <div class="panel-body">

  <div class="row">
    <div class="clearfix">&nbsp;</div>

    @using (Html.BeginForm()) 
    {
      @Html.ValidationSummary(true)

      <fieldset>
        @Html.AntiForgeryToken()
        @if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
           
        }

        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Devision</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Division" name="DIV_ID">
			    <option value="">--Select--</option>
			</select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">District</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="District" name="DIS_ID">
			    <option value="">--Select--</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Upozilla</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Upozilla" name="UP_ID">
			    <option value="">--Select--</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Project</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Project" name="PROJECT_ID">
			    <option value="">--Select--</option>
			</select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Component</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Component" name="COMPONENT_ID">
			    <option value="">--Select--</option>
			</select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Contact</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Contact" name="CONTACT_ID">
                <option value="">--Select--</option>
            </select>
          </div>
        </div>

       <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Scheme</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Scheme" name="SCHEME_ID">
                <option value="">--Select--</option>
            </select>
          </div>
        </div>

		  <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Template</label>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <select class="form-control" data-val="true" id="Template" name="TEMPLATE_ID">
                <option value="">--Select--</option>
            </select>
          </div>
      </div>

      <div class="form-group">
            <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <input type="submit" class="btn btn-success pull-right" value="Save">
            </div>
        </div>
					
      <div class="clearfix">&nbsp;</div>

    </fieldset>
    }

  </div>
</div>
</div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_add_template_asine.js"></script>