﻿@Html.Partial("_Header")
@Html.Partial("_Sidebar")

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span class="pull-right">
            <a href="/template_asine/Add" class="btn btn-sm btn-danger">
            <i class="fa fa-x fa-plus"></i> Template Assignment</a></span>
      <h1 class="page-header">Template Assignment </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard">Home</a></li>
        <li class="active">Template Assignment </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <h4 class="panel-title">Template Assignment </h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="list" class="table table-striped table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Contact Name</th>
                  <th>Scheme Name</th>
                  <th>Template</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/web_template_asine.js"></script>