﻿

@Html.Partial("_Header")
@Html.Partial("_MainMenu")

@model BracProject.Models.VillageModel

<div id="main"  class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="breadcrumb-wrapper col-xs-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/village">Village Management </a>
                    </li>
                    <li class="breadcrumb-item">Edit Village</li>
                </ol>
            </div>
        </div>
        <div class="content-body">
            <!-- Form actions layout section start -->
            <section id="form-action-layouts">
                <div class="row match-height">
                    <div class="col-md-6 offset-md-3">
                        <div class="card" style="height: auto;">
                            <div class="card-header">
                                <h4 class="card-title" id="from-actions-bottom-right">Edit Village</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    @if (ViewBag.Message != null)
    {
                                <div class="card-text">
                                    <div class="alert bg-info alert-icon-right alert-arrow-right alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        @ViewBag.Message
                                    </div>
                                </div>
}

                                    @Html.HiddenFor(model => model.Union.Upazila.District.Division.ID)
                                    @Html.HiddenFor(model => model.Union.Upazila.District.ID)
                                    @Html.HiddenFor(model => model.Union.Upazila.ID)
                                    @Html.HiddenFor(model => model.Union.id)
                                    @Html.HiddenFor(model => model.ISACTIVE)

                                    @using (@Html.BeginForm())
    {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()


                                <div class="form-body">
                                    <div class="form-group">
                                        <select class="form-control select2" data-val="true" id="divisions">
                                            <option value="">--Select Type--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control select2" data-val="true" id="districts">
                                            <option value="">--Select Type--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control select2" data-val="true" id="upozillas">
                                            <option value="">--Select Type--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.union_id)
                                        @Html.DropDownListFor(model => model.union_id, new List<SelectListItem>(), "", new { @id = "unions", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                        @Html.ValidationMessageFor(model => model.union_id)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.name)
                                        @Html.TextBoxFor(model => model.name, new { placeholder = "Village Name", @class = "form-control border-primary" })
                                        @Html.ValidationMessageFor(model => model.name)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ISACTIVE)
                                        @Html.DropDownListFor(model => model.ISACTIVE, new List<SelectListItem>(), "", new { @id = "Status", @class = "select2 form-control select2-hidden-accessible", @style = "width:100%;", @tabindex = "-1" })
                                        @Html.ValidationMessageFor(model => model.ISACTIVE)
                                    </div>


                                </div>
                                <div class="form-actions right">
                                    <button id="submit" type="submit" class="btn btn-primary">
                                        <i class="icon-check2"></i> Save
                                    </button>
                                </div>
}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // Form actions layout section end -->
        </div>
    </div>
</div>

@Html.Partial("_Footer")
<script type="text/javascript" src="~/Scripts/village_edit_sript.js"></script>